.Side-ber
  .Side-ber__user-name
    .User-name__side-box
      %h2.Sidebox__user-name
        = current_user.name
      %ul.Side-box__menu
        %li.Menu__new-group
        =link_to new_group_path do
          =icon('fas', 'edit', class: 'icon')
        %li.Menu__edit-user
        =link_to edit_user_path(current_user) do
          =icon('fa', 'cog', class: 'icon')
  .Side-ber__group-list
    - current_user.groups.each do |group|
      .Group
        = link_to group_messages_path(group) do
          .Group__name
            = group.name
          .Group__message
            = group.show_last_message